<a href="https://colab.research.google.com/github/Kinrider/TechChallenge/blob/main/ETL_vinho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Tratamento de dados de Exportação

In [2]:
dados = '/content/drive/Othercomputers/Meu laptop/Fiap - Scripts/01 - Tech_Challenge/01 - Dados/05 - Exportação/ExpVinho.csv'

In [3]:
vinhosexp = pd.read_csv(dados, sep=';' , encoding= 'utf8')
vinhosexp
x = vinhosexp.copy()

In [4]:
x.head()

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,11,46,0,0,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,26,95,4,21,0,0,0,0,117,698
2,3,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,...,3660,25467,6261,32605,2698,6741,7630,45367,4806,31853
3,4,Angola,0,0,0,0,0,0,0,0,...,345,1065,0,0,0,0,4068,4761,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
print(x.dtypes)

Id         int64
País      object
1970       int64
1970.1     int64
1971       int64
           ...
2021.1     int64
2022       int64
2022.1     int64
2023       int64
2023.1     int64
Length: 110, dtype: object

In [6]:
array_dollar=['Id' , 'País']
array_kilos=['Id' , 'País']

for column in x.columns:
  if '.1' in column:
   dollar = column.replace('.1' , '')+'_'+'dollar'
   x.rename({column:dollar},inplace=True, axis=1)
   array_dollar.append(dollar)
  else:
    kilos = column +'_'+ 'kilos'
    x.rename({column:kilos},inplace=True, axis=1)
    array_kilos.append(kilos)

In [7]:
x.rename({'Id_kilos' :'Id'},inplace=True, axis=1)
x.rename({'País_kilos':'País'},inplace=True, axis=1)

In [8]:
array_kilos.remove('Id_kilos')
array_kilos.remove('País_kilos')

In [9]:
x[array_kilos].head()

,Id,País,1970_kilos,1971_kilos,1972_kilos,1973_kilos,1974_kilos,1975_kilos,1976_kilos,1977_kilos,...,2014_kilos,2015_kilos,2016_kilos,2017_kilos,2018_kilos,2019_kilos,2020_kilos,2021_kilos,2022_kilos,2023_kilos
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,11,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,0,0,0,0,0,26,4,0,0,117
2,3,"Alemanha, República Democrática",0,0,4168,12000,0,0,0,0,...,213348,10680,14012,15467,10794,3660,6261,2698,7630,4806
3,4,Angola,0,0,0,0,0,0,0,0,...,12182,1908,7359,10170,477,345,0,0,4068,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
x[array_dollar].head()

,Id,País,1970_dollar,1971_dollar,1972_dollar,1973_dollar,1974_dollar,1975_dollar,1976_dollar,1977_dollar,...,2014_dollar,2015_dollar,2016_dollar,2017_dollar,2018_dollar,2019_dollar,2020_dollar,2021_dollar,2022_dollar,2023_dollar
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,46,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,0,0,0,0,0,95,21,0,0,698
2,3,"Alemanha, República Democrática",0,0,2630,8250,0,0,0,0,...,761653,44780,68109,87702,45382,25467,32605,6741,45367,31853
3,4,Angola,0,0,0,0,0,0,0,0,...,23124,17089,35390,61680,709,1065,0,0,4761,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
x.head()

,Id,País,1970_kilos,1970_dollar,1971_kilos,1971_dollar,1972_kilos,1972_dollar,1973_kilos,1973_dollar,...,2019_kilos,2019_dollar,2020_kilos,2020_dollar,2021_kilos,2021_dollar,2022_kilos,2022_dollar,2023_kilos,2023_dollar
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,11,46,0,0,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,26,95,4,21,0,0,0,0,117,698
2,3,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,...,3660,25467,6261,32605,2698,6741,7630,45367,4806,31853
3,4,Angola,0,0,0,0,0,0,0,0,...,345,1065,0,0,0,0,4068,4761,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df = x

In [13]:
# 1º transpor kilos para linha

df1 = df.melt(
    id_vars = ['Id', 'País'],
    value_vars = df.filter(like = '_kilos').columns,
    var_name = 'ano',
    value_name = 'kilos'
    )

# 2º transpor dólar para linha

df2 = df.melt(
    id_vars = ['Id', 'País'],
    value_vars = df.filter(like = '_dollar').columns,
    var_name = 'anos',
    value_name = 'dollar'
    )

# 3º sincronizar os índices

df1 = df1.set_index(['Id','País', df1.groupby(['Id','País']).cumcount()])
df2 = df2.set_index(['Id','País', df1.groupby(['Id','País']).cumcount()])

# 4º Juntar data_frames

df3 = (
    pd.concat([df1, df2], axis=1)
  .sort_index(level=2)
  .reset_index(level=2, drop=True)
  .reset_index()
  )

df3.head()

# referências:
# https://stackoverflow.com/questions/51519101/simultaneously-melt-multiple-columns-in-python-pandas
# https://pandas.pydata.org/docs/reference/api/pandas.melt.html
# https://medium.com/horadecodar/data-science-tips-02-como-usar-loc-e-iloc-no-pandas-fab58e214d87

   Id                             País         ano  kilos         anos  dollar
0   1                      Afeganistão  1970_kilos      0  1970_dollar       0
1   2                    África do Sul  1970_kilos      0  1970_dollar       0
2   3  Alemanha, República Democrática  1970_kilos      0  1970_dollar       0
3   4                           Angola  1970_kilos      0  1970_dollar       0
4   5                         Anguilla  1970_kilos      0  1970_dollar       0

In [14]:
# Dropa coluna de ano duplicada

df3.drop(['anos'], axis=1, inplace = True)

In [15]:
# tratando o campo de ano

df3['ano'] = df3['ano'].str.replace('_kilos','') + '-01-01'

df3.head()

   Id                             País         ano  kilos  dollar
0   1                      Afeganistão  1970-01-01      0       0
1   2                    África do Sul  1970-01-01      0       0
2   3  Alemanha, República Democrática  1970-01-01      0       0
3   4                           Angola  1970-01-01      0       0
4   5                         Anguilla  1970-01-01      0       0

In [16]:
# tranformando string em data

df3['ano'] = pd.to_datetime(df3['ano'],format='%Y-%m-%d')

df3.head()

   Id                             País        ano  kilos  dollar
0   1                      Afeganistão 1970-01-01      0       0
1   2                    África do Sul 1970-01-01      0       0
2   3  Alemanha, República Democrática 1970-01-01      0       0
3   4                           Angola 1970-01-01      0       0
4   5                         Anguilla 1970-01-01      0       0

In [17]:
#infos gerais do dataset
print(df3.dtypes)
print('-------//-------')
df3.info()

Id                 int64
País              object
ano       datetime64[ns]
kilos              int64
dollar             int64
dtype: object
-------//-------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7398 entries, 0 to 7397
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      7398 non-null   int64
 1   País    7398 non-null   object
 2   ano     7398 non-null   datetime64[ns]
 3   kilos   7398 non-null   int64
 4   dollar  7398 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 289.1+ KB

In [18]:
##Salva Arquivo

df3.to_csv('/content/drive/Othercomputers/Meu laptop/Fiap - Scripts/01 - Tech_Challenge/01 - Dados/Dados_tratados.csv',sep = ';' , encoding='utf-8')

# Tratamento de dados de Consumo

In [19]:
dado_consumo = '/content/drive/Othercomputers/Meu laptop/Fiap - Scripts/01 - Tech_Challenge/01 - Dados/06 - Demais/Consumo.xlsx'

In [20]:
consumo = pd.read_excel(dado_consumo, sheet_name = 'Export')
consumo.head()

,Continent,Region/Country,Product,Variable,Year,Unit,Quantity
0,Asia,Afghanistan,Dried Grapes,Consumption,1995.0,tonnes,8050.0
1,Asia,Afghanistan,Table Grapes,Consumption,1995.0,tonnes,189800.0
2,Asia,Afghanistan,Dried Grapes,Consumption,1996.0,tonnes,8100.0
3,Asia,Afghanistan,Table Grapes,Consumption,1996.0,tonnes,176100.0
4,Asia,Afghanistan,Dried Grapes,Consumption,1997.0,tonnes,8100.0

In [ ]:
consumo.rename(columns={'Continent': 'continente', 'Region/Country': 'pais', 'Product': 'produto'}, inplace=True)

In [27]:
view1 = consumo['Region/Country'].unique()
view1

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belgium and Luxemburg',
       'Belize', 'Benin', 'Bermuda', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Congo (the Democratic Republic of the)', 'Cook Islands',
       'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Global', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea (the Republic of)', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxemburg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'Netherlands Antilles',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Norway', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Republic of North Macedonia', 'Republic of Türkiye',
       'Reunion island', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre And Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Serbia And Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'Spain', 'Sri Lanka', 'State of Palestine',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan',
       'Tanzania, the United Republic of', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Kingdom',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [28]:
view2 = consumo['Product'].unique()
view2

array(['Wine'], dtype=object)

In [29]:
consumo.query("Product == 'Wine'",inplace = True)
consumo.head()

In [32]:
!pip install googletrans
from googletrans import Translator

Collecting googletrans
  Downloading googletrans-3.0.0.tar.gz (17 kB)
  Preparing metadata (setup.py) ... done
Collecting httpx==0.13.3 (from googletrans)
  Downloading httpx-0.13.3-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx==0.13.3->googletrans) (2024.8.30)
Collecting hstspreload (from httpx==0.13.3->googletrans)
  Downloading hstspreload-2024.10.1-py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx==0.13.3->googletrans) (1.3.1)
Collecting chardet==3.* (from httpx==0.13.3->googletrans)
  Downloading chardet-3.0.4-py2.py3-none-any.whl.metadata (3.2 kB)
Collecting idna==2.* (from httpx==0.13.3->googletrans)
  Downloading idna-2.10-py2.py3-none-any.whl.metadata (9.1 kB)
Collecting rfc3986<2,>=1.3 (from httpx==0.13.3->googletrans)
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl.metadata (6.5 kB)
Collecting httpcore==0.9.* (from httpx==0.13.3->googletrans)
  Downloading httpcore-0.9.1-py3-none-any.whl.metadata (4.6 kB)
Collecting h11<0.10,>=0.8 (from httpcore==0.9.*->httpx==0.13.3->googletrans)
  Downloading h11-0.9.0-py2.py3-none-any.whl.metadata (8.1 kB)
Collecting h2==3.* (from httpcore==0.9.*->httpx==0.13.3->googletrans)
  Downloading h2-3.2.0-py2.py3-none-any.whl.metadata (32 kB)
Collecting hyperframe<6,>=5.2.0 (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans)
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl.metadata (7.2 kB)
Collecting hpack<4,>=3.0 (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans)
  Downloading hpack-3.0.0-py2.py3-none-any.whl.metadata (7.0 kB)
Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.1/55.1 kB 4.4 MB/s eta 0:00:00
Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.4/133.4 kB 5.4 MB/s eta 0:00:00
Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 kB 3.2 MB/s eta 0:00:00
Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.8/58.8 kB 4.7 MB/s eta 0:00:00
Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.0/65.0 kB 5.1 MB/s eta 0:00:00
Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Downloading hstspreload-2024.10.1-py3-none-any.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 26.2 MB/s eta 0:00:00
Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.6/53.6 kB 4.2 MB/s eta 0:00:00
Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.0.0-py3-none-any.whl size=15718 sha256=24ac94242d4eaf1a97dc6e1eec77d25a4b3a04191e715d66f137098d7c4b5468
  Stored in directory: /root/.cache/pip/wheels/b3/81/ea/8b030407f8ebfc2f857814e086bb22ca2d4fea1a7be63652ab
Successfully built googletrans
Installing collected packages: rfc3986, hyperframe, hpack, h11, chardet, idna, hstspreload, h2, httpcore, httpx, googletrans
  Attempting uninstall: chardet
    Found existing installation: chardet 5.2.0
    Uninstalling chardet-5.2.0:
      Successfully uninstalled chardet-5.2.0
  Attempting uninstall: idna
    Found existing installation: idna 3.10
    Uninstalling idna-3.10:
      Successfully uninstalled idna-3.10
Successfully installed chardet-3.0.4 googletrans-3.0.0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2024.10.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 idna-2.10 rfc3986-1.5.0